<div class="center">
    <h1 class="text">Responsible tables</h1>
</div>
<div class="wrapper">
    <!-- <div class="first-solution"> -->
        <table>
            <caption>Table with Student scores on a certain semester</caption>
            <tr>
                <th>Student Name</th>
                <th>Faculty</th>
                <th>unit 1</th>
                <th>unit 2</th>
                <th>unit 3</th>
                <th>unit 4</th>
                <th>unit 5</th>
                <th>unit 6</th>
                <th>unit 7</th>
            </tr>
            <tr>
                <td data-cell="name">Polland onderi</td>
                <td data-cell="faculty"> Business </td>
                <td data-cell="unit 1"> A</td>
                <td data-cell="unit 2">B</td>
                <td data-cell="unit 3">C</td>
                <td data-cell="unit 4">FAIL</td>
                <td data-cell="unit 5">A</td>
                <td data-cell="unit 6">A</td>
                <td data-cell="unit 7">FAIL</td>
            </tr>
            <tr>
                <td data-cell="name">Jackson Othaya</td>
                <td data-cell="faculty"> Computing </td>
                <td data-cell="unit 1"> A</td>
                <td data-cell="unit 2">B</td>
                <td data-cell="unit 3">C</td>
                <td data-cell="unit 4">D</td>
                <td data-cell="unit 5">A</td>
                <td data-cell="unit 6">A</td>
                <td data-cell="unit 7">FAIL</td>
            </tr>
            <tr>
                <td data-cell="name">Jude Birika</td>
                <td data-cell="faculty">Media and Communication </td>
                <td data-cell="unit 1"> A</td>
                <td data-cell="unit 2">B</td>
                <td data-cell="unit 3">C</td>
                <td data-cell="unit 4">FAIL</td>
                <td data-cell="unit 5">A</td>
                <td data-cell="unit 6">A</td>
                <td data-cell="unit 7">B</td>
            </tr>
            <tr>
                <td data-cell="name">Mayai Maovu</td>
                <td data-cell="faculty"> Engineering</td>
                <td data-cell="unit 1"> D</td>
                <td data-cell="unit 2">B</td>
                <td data-cell="unit 3">D</td>
                <td data-cell="unit 4">D</td>
                <td data-cell="unit 5">A</td>
                <td data-cell="unit 6">A</td>
                <td data-cell="unit 7">FAIL</td>
            </tr>
            <tr>
                <td data-cell="name">Mboga mbich</td>
                <td data-cell="faculty"> Sciences </td>
                <td data-cell="unit 1"> A</td>
                <td data-cell="unit 2">B</td>
                <td data-cell="unit 3">C</td>
                <td data-cell="unit 4">FAIL</td>
                <td data-cell="unit 5">A</td>
                <td data-cell="unit 6">A</td>
                <td data-cell="unit 7">FAIL</td>
            </tr>
            <tr>
                <td data-cell="name">Polland onderi</td>
                <td data-cell="faculty"> Business </td>
                <td data-cell="unit 1"> A</td>
                <td data-cell="unit 2">B</td>
                <td data-cell="unit 3">C</td>
                <td data-cell="unit 4">FAIL</td>
                <td data-cell="unit 5">A</td>
                <td data-cell="unit 6">A</td>
                <td data-cell="unit 7">FAIL</td>
            </tr>
            <tr>
                <td data-cell="name">Polland onderi</td>
                <td data-cell="faculty"> Business </td>
                <td data-cell="unit 1"> A</td>
                <td data-cell="unit 2">B</td>
                <td data-cell="unit 3">C</td>
                <td data-cell="unit 4">FAIL</td>
                <td data-cell="unit 5">A</td>
                <td data-cell="unit 6">A</td>
                <td data-cell="unit 7">FAIL</td>
            </tr>
        </table>
    <!-- </div> -->
</div>